<!DOCTYPE html>
<html>
    <head>
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta charset = "utf-8" />
        <meta name="application-name" content="Pirwa Hostels"/>
        <title>Pirwa Hostels</title>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>
        <link href="{{ asset('/assets/css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('/assets/css/materialdesignicons.min.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('/assets/css/materialcss.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('/assets/css/waves.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('/assets/css/pirwa.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('/bundles/login/css/login.css') }}" type="text/css" rel="stylesheet" />
    </head>
    <body class="grey lighten-4">
        <div class="container-fluid" id="login-container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-xs-12">
                    <div class="card card-primary z-depth-2 margintop50">
                        <div class="card-block white p-a-0">
                            <div class="row flex">
                                <div class="col-md-4 blue hidden-sm-down flex-item" style="background-image:url('/assets/img/fondos/business.png');background-size: cover">
                                    <div class="valign-wrapper text-center">
                                        <div class="valign w100">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-8 flex-item">
                                    <div class="row">
                                        <div class="col-xs-10 col-xs-offset-1">
                                            <div class="m-t-5">
                                                <h1 class="h2 semibold m-a-0">Crear nueva clave de usuario</h1>
                                            </div>
                                            <div class="m-t-1">
                                                <span class="lead">Registra una nueva clave para tu usuario (de, por lo menos, 8 caracteres)</span>
                                            </div>
                                            <div class="">
                                                <div class="p-x-0" id="form-login-container">
                                                    <form role="form" id="login-form" action="#">
                                                        <div class="form-group">
                                                            <label for="password">Nueva clave</label>
                                                            <div class="input-group margin-bottom-sm">
                                                                <span class="input-group-addon"><i class="mdi mdi-lock"></i></span>
                                                                <input type="password" tabindex="1" placeholder="Password" name="password" id="password" class="form-control" autofocus="" tabindex="1">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="confirmacion">Confirma tu nueva clave</label>
                                                            <div class="input-group margin-bottom-sm">
                                                                <span class="input-group-addon"><i class="mdi mdi-lock"></i></span>
                                                                <input type="password" tabindex="2" placeholder="Password" name="confirmacion" id="confirmacion" class="form-control" tabindex="2">
                                                            </div>
                                                        </div>
                                                        <div class="form-group m-y-3">
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <a href="javascript: void(0)" class="btn btn-block btn-primary waves-effect waves-light btn-flat" tabindex="3" onclick="submitAjax('login-form', '{{path('login_registrar_nueva_clave_usuario')}}', 2, '')">
                                                                        Guardar clave
                                                                        <i class="mdi mdi-arrow-right"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="copyright" class="small m-t-5 text-center">
                        &copy; Copyright {{"now"|date('Y')}}. Departamento de Tecnologías de la Información - <strong>Pirwa Hostels</strong>
                    </div>
                </div>
            </div>
        </div>
        {# alertas del sistema #}
        <section id="contenedor-alertas-hoja">
            <div class="container3">
                <div id="alertas-hoja" class="izquierda todo a-fijo">
                    {% for flashMessage in app.session.flashbag.get('alerta-sistema') %}
                        <div class="alert alert-info alert-block">
                            <button type="button" class="close" data-dismiss="alert">&times;</button><div class="alertWrapper">{{flashMessage}}</div>
                        </div>
                    {% endfor %}
                    {% for flashMessage in app.session.flashbag.get('error-sistema') %}
                        <div class="alert alert-danger alert-block">
                            <button type="button" class="close" data-dismiss="alert">&times;</button><div class="alertWrapper">{{flashMessage}}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        {# ajax - loader #}
        <div class="ajax-loader z-depth-5">
            <div class="loader">
                <svg class="circular">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10"/>
                </svg>
            </div>
        </div>
        {# Script JS #}
        <script type="text/javascript" src="{{ asset('/assets/js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/assets/js/jquery-ui.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/assets/js/bootstrap.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/assets/js/pirwa.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/assets/js/toastr.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/assets/js/waves.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/bundles/login/js/login.js') }}"></script>
    </body>
</html>